@model MVC.Models.FuncionarioModel

@{
    ViewBag.Title = "Funcionario";
}

<h2>Detalles de funcionario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
