@{
    ViewBag.Title = "Contacto";
}
<h2>Contacto</h2>
<h3>Comuníquese con nosotros.</h3>

<address>
    <br />
    Dirección: Calle Falsa 123, San José, Uruguay<br />
    Teléfono: 099123456<br />
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@trackingfull.com">soporte@trackingfull.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:comercial@trackingfull.com">comercial@trackingfull.com</a>
</address>