@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>TrackingFULL</h1>
    <p class="lead">Una plataforma en la cual podrá gestionar sus paquetes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuestro Propósito</h2>
        <p>
            TrackingFULL le permitirá a su empresa realizar una gestión de paquetes de manera sencilla.
            El sistema le permitirá crear Agencias, Trayectos (con sus respectivos puntos de control),
            gestionar funcionarios, clientes y mucho más.
        </p>
    </div>
    <div class="col-md-4">
        <h2>APP Mobile</h2>
        <p>Para el procesamiento de paquetes, disponemos de una aplicación para dispositivos móviles, 
           en la cuál con el código QR de cada paquete se podrá procesar el estado del mismo.</p>
    </div>
    <div class="col-md-4">
        <h2>Sistemas externos</h2>
        <p>Si usted utiliza un sistema externo a TrackingFULL la plataforma le permitirá que procesemos sus paquetes.
           Póngase en contacto con nosotros si desea integrar su sistema con el nuestro.</p>
    </div>
</div>
